package contact

import "github.com/oriiyx/paravinja-dev/views/layout"

templ Index() {
    @layout.App("contact") {
        <div class="container mx-auto mt-10 px-4 sm:px-0">
            <h1 class="font-bold text-xl mb-2">contact</h1>
            <p>You can contact me via email <a class="underline" href="mailto:paravinja92@gmail.com">here</a>.</p>
            <p>I don't like social media - but I do have a Linkedin account... I don't like Linkedin.</p>
        </div>
    }
}