package ui

templ Footer() {
    <footer class="my-10 footer footer-center bg-base-300 text-base-content p-4 container mx-auto border-t">
      <aside>
        <p>Created with Go + Templ + Tailwind</p>
        <p>Peter Paravinja</p>
      </aside>
    </footer>
}