package home

import "github.com/oriiyx/paravinja-dev/views/layout"

templ Index() {
    @layout.App() {
        <div class="container mx-auto mt-10 px-4 sm:px-0">
            <h1>Posts</h1>
            <img src="/public/nerd-meme.jpeg" alt="nerd in front of a computer"
               class="float-right h-0 rounded-3xl w-96 sm:h-auto">
            <ul>
                <li><a href="/posts/post-1">Post 1</a></li>
            </ul>
        </div>
    }
}