package home

import "github.com/oriiyx/paravinja-dev/views/layout"

templ Index() {
    @layout.App(){
        <div class="container mx-auto">
            <h1>Home</h1>
            <p>Welcome to the home page</p>
        </div>
    }
}