package about

import "github.com/oriiyx/paravinja-dev/views/layout"

templ Index() {
    @layout.App() {
        <div class="container mx-auto mt-10 px-4 sm:px-0">
            <h1>About</h1>
        </div>
    }
}