package posts

import (
    "github.com/oriiyx/paravinja-dev/views/layout"
)

templ Index(blogPost, title string) {
    @layout.App(title) {
        <div class="container mx-auto my-10 px-4 sm:px-0">
            <article class="prose-sm">
                @templ.Raw(blogPost)
            </article>
        </div>
    }
}